@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
/* @import "common.css";
@import "reset.css"; */

header {
  padding: 40px 40px;
  text-align: center;
}

body {
  padding: 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-areas: "box-1 box-2 box-3"; */
}

img {
  width: 100%;
}

.grid-item {
  width: 40%;
}
